#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#score{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

#health{
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: left;
  z-index: 100;
  display: block;
}

#game-over{
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  font-size: 150px;
}